img {
    width: 100%;
}

.video-placeholder {
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;
    background-size: cover;
    position: relative;
    cursor: pointer;

    &:hover {
        .play-btn {
            transform: translate(-50%, -50%) scale(1.05);
        }
    }

    .overlay {
        width: 100%;
        height: 100%;
        background: $light-gray;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.2;
    }

    
}

.video-popup {
    background: rgba($color: $black, $alpha: 0.8)!important;

    iframe {
        height: 53vw;
        width: 90%;
    }
}


.square-video {
    position: relative;

   .explainer {
       width: 100%;
   }
} 

video {
    object-fit: cover;
    cursor: pointer;

    &:hover {
        .play-btn {
            transform: translate(-50%, -50%) scale(1.05);
        }
    }
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s all;
    cursor: pointer;
}