.opret-mindeindsamling-container {
  background: $white;
  padding: 3rem;
  position: relative;
  padding-bottom: 0;

  form {
    margin: 0 auto;
    position: relative;

    @include breakpoint(medium up) {
      padding: 3rem;
    }

    .step {
      visibility: hidden;
      max-height: 0;
    }

    .step-active {
      visibility: visible;
      max-height: 100%;
    }

    .hide-btn {
      opacity: 0;
      pointer-events: none;
    }   

    .remove-btn {
      display: none;
    }   

    .error-container {
      text-align: right;
      margin-top: 1rem;
    }
  }

  .dots {
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;

    .dot {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: $light-gray;
      margin-left: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $header-font-family;
      pointer-events: none;
      position: relative;

      &.dot-filled {
        background-color: $success;
        color: $white;

        .dot-divider {
          background: $success;
        }
      }

      .dot-divider {
        position: absolute;
        width: 1rem;
        height: 2px;
        top: calc(50% - 1px);
        background: $light-gray;
        right: 100%;
      }
    }
  }
}