.opret-mindeindsamling-container, .mindegave-without-container, .mindegave-with-container {
  background: $white;
  padding: 3rem;
  position: relative;
  padding-bottom: 0;


  @include breakpoint(medium down) {
    padding-top: 7rem;
  }

  form {
    position: relative;

    @include breakpoint(medium up) {
      padding: 3rem;
      margin: 0 auto;
    }

    .button-container {
      @include breakpoint(small down) {
        padding-bottom: 3rem;
        padding-top: 1rem;
      }

      .button {
        margin-right: 0;
      }
    }

    .hide-btn {
      opacity: 0;
      pointer-events: none;
      height: 0;
      margin: 0;
      padding: 0;
    }   

    .remove-btn {
      display: none;
    }   

    .error-container {
      text-align: right;
      margin-top: 1rem;
    }
  }

  .dots {
    position: absolute;
    top: 3rem;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: center;

    @include breakpoint(large up) {
      justify-content: flex-end;
    } 

    .dot {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: $light-gray;
      margin-left: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $header-font-family;
      pointer-events: none;
      position: relative;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        @include breakpoint(large up) {
          margin-right: 3rem;
        } 
      }

      &.dot-filled {
        background-color: $success;
        color: $white;

        .dot-divider {
          background: $success;
        }
      }

      .dot-divider {
        position: absolute;
        width: 1rem;
        height: 2px;
        top: calc(50% - 1px);
        background: $light-gray;
        right: 100%;
      }
    }
  }
}


body.form-loading {
  .form-loader {
    display: flex;
  }
}

.form-loader {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loader {
  border: 8px solid $light-gray;
  border-top: 8px solid $tang; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

.ins-images-preview {
  max-height: 60vh;
  width: auto;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}