.single-top {
    position: relative;

    @include breakpoint(large up) {
        padding-left: 4%;
        padding-right: 4%;
        max-height: calc(100vh - 100px);
    } 

    @include breakpoint(xlarge up) {
        padding-left: 6%;
        padding-right: 6%;
    } 

    @include breakpoint(medium down) {
        margin-top: 3rem;
    }

    .scroll-indicator {
        svg {
            path {
                stroke: $theme-color;
            }
        }
    }

    .share-links {
        position: absolute;
        top: 2rem;
        left: 2rem;

        @include breakpoint (medium down) {
            top: 0;
        }

        @include breakpoint (small down) {
            top: -2rem;
            left: 1rem;
        }

        div {
            font-size: 2rem;

            a {
                transition: 0.3s all;
            }
        }

        .share-email {
            a {
                color: $dark-gray;

                &:hover {
                    color: $black;
                }
            }
        }

        .share-facebook {
            a {
                color: $dark-gray;

                &:hover {
                    color: rgb(0, 132, 255);
                }
            }
        }

        .share-twitter {
            a {
                color: $dark-gray;
                
                &:hover {
                    color: rgb(29, 161, 242);
                }
            }
        }

        .share-linkedin {
            a {
                color: $dark-gray;
                
                &:hover {
                    color: #0a66c2;
                }
            }
        }

    }
}

.donation-box {
    padding: 2rem;
    height: 100%!important;
    
    .donation-amount {
        color: $success;
    }

    p {
        margin-bottom: 0;
    }
}

.donate-popup, .video-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color: $black, $alpha: 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;

    .donate-content {
        background: $white;
        padding: 3rem;
        max-height: 90vh;
        overflow: scroll;
       
        @include breakpoint(small down) {
            padding-bottom: 0;
            max-height: 70vh;
            overflow: scroll;
        }

        form {
            max-width: 400px;
            margin: 0 auto;

            label[for=custom_donation] {
                margin-top: 2rem;
            }

            button[type=submit] {
                margin: 1rem 0 0 0;
            }
        }
    }
}

.donate-popup.popup-open, .video-popup.popup-open {
    opacity: 1;
    pointer-events: all;
}

.body-popup-open {
    overflow: hidden;
}

.single-img-container {
    img {
        max-height: 70vh;
        width: auto;
    }
}
