footer.site-footer {
  background: $tang;
  color: $white;
  align-self: flex-end;
  width: 100%;
  padding: 2rem 0;

  .menu {
   @include breakpoint(small down) {
     margin-bottom: 3rem;
   } 
  }

  h4 {
    color: $white;
  }

  a {
    color: inherit;
    padding: 0 0 0.7rem 0;
  }

  svg {
    fill: currentColor;
  }
}
