footer.site-footer {
  background: $tang;
  color: $white;
  align-self: flex-end;
  width: 100%;
  padding: 2rem 0;
  position: relative;

  .menu {
   @include breakpoint(small down) {
     margin-bottom: 3rem;
   } 
  }

  h4 {
    color: $white;
  }

  a {
    color: inherit;
    padding: 0 0 0.7rem 0;
    font-size: 14px;
  }

  svg {
    fill: currentColor;
  }

  .disclaimer {
    font-style: italic;
    font-size: 80%;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    margin-bottom: 0;
    text-align: right;
  }
}
