//Style for mobile + desktop
header.site-header {
  background: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
  width: 100%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  height: 100px;
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  background: $white;
  font-weight: 500;
  color: $black;

  .grid-container {
    width: 100%; // important
  }

  a {
    color: currentColor;
  }

  .site-branding {
    
    a {
      display: block;
      font-size: 0px;
    }

    svg {
      height: 30px;
      width: auto;
    }
  }
}

#site-navigation {
  @include breakpoint($burger_breakpoint down) {
    display: none;
  }
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  li {
    display: inline-block;
  }
}

.burger {
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  position: relative;
  display: none;

  @include breakpoint($burger_breakpoint down) {
    display: block;
  }

  span {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    height: 2px;
    background: currentColor;
    font-size: 7px;
    transition: transform .125s ease;


    &:before, &:after {
      content: '';
      height: 2px;
      display: block;
      background: currentColor;      
      position: absolute;
      left: 0px;
      width: 100%;
      transition: top .125s ease, transform .125s ease;
    }

    &:before {
      top: -1em;
    }

    &:after {
      top: 1em;
    }

    .menu-active & {
      transform: rotate(45deg);
      
      &:before {
        top: 0px;
      }

      &:after {
        top: 0px;
        transform: rotate(-90deg);
      }
    }
  }
}