.hero-banner {
	height: 500px;
	max-height: 100vh;
	min-height: 300px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: wrap row;
	    -ms-flex-flow: wrap row;
	        flex-flow: wrap row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;

	@include after() {
		position: absolute;
		top: 0px; right: 0px; bottom: 0px; left: 0px;
		background: rgba($black, .3);
		z-index: 2;
	}

	@include breakpoint(small down) {
		height: 300px;
	}

	.image {
		position: absolute;
		top: 0px; right: 0px; bottom: 0px; left: 0px;
		-webkit-background-size: cover;
		        background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		z-index: 1;
	}

	.hero-content {
		width: 100%;
		position: relative;
		z-index: 3;
		color: $white;
		text-align: center;

		h1 {
			color: inherit;

			@include breakpoint(medium up) {
				font-size: 50px;
			}
		}
	}
}