.hero-banner {
  height: calc(80vh - 100px);
  max-height: 100vh;
  min-height: 300px;
  position: relative;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: wrap row;

  &.narrow {
    height: auto;
    min-height: 0;

    @include breakpoint(medium up) {
      padding: 5rem 0;
    }
  }

  //   @include breakpoint(small down) {
  //     height: auto;
  //   }

  .grid-container {
    width: 100%;
  }

  .graphic {
    position: absolute;
    width: 30%;

    &.top_left {
      top: 0;
      left: 0;
    }

    &.top_right {
      top: 0;
      right: 0;
    }

    &.bottom_left {
      bottom: 0;
      left: 0;
    }

    &.bottom_right {
      bottom: 0;
      right: 0;
    }
  }
}
