.widget-area {
	@include breakpoint(small only) {
		margin-top: 2rem;
	}
}

.widget {
	h2 {
		@extend h5;
	}

	padding: 0px;

	ul {
		list-style: none;
		padding: 0px;
		margin: 0px 0px 2rem;

		li {
			
		}

		a {
			text-decoration: none;
			color: $body-font-color;
		}
	}

	form {
		margin-bottom: 2rem;
	}
}