.button {
  border-radius: 0;
  text-decoration: none;
  margin-top: 3rem;

  font-size: inherit;
  margin-right: 0.5rem;
  padding: 1.5rem 2.5rem;

  @include breakpoint(small down) {
    font-size: 100%;
  }
}
